# Dependencies
node_modules
.pnpm-store

# Build
dist
build

# Environment
.env
.env.local
.env.*.local

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System
.DS_Store
Thumbs.db
.vercel

*storybook.log

# start.sh
# stop.sh
# build.sh
# run.sh

**/stats.html